<div class="TitleAbout">
	<h3>Acerca de</h3> 
	<p>TerPicWeb</p>
</div>



<article class="AboutIpad">
	<a>
		<h1>TerPicWeb</h1>
		<p>
			Es una plataforma online didáctica e interactiva diseñada para estimular a niños, en especial a aquellos que presentan una condición de TEA (Transtorno del Espectro Autista). Esta plataforma se puede utilizar desde un iPad o tableta para que la experiencia sea mucho mas interactiva y estimulante.
		</p>
	</a>

	<div>
		<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/About%2FIPAD_HD.png?alt=media&token=5a5a5e4b-751f-465f-969e-7e01eed5d42d" >
	</div>

</article>

<article class="AboutComputer">

	<div>
		<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/About%2FMacBookProHD.png?alt=media&token=a4111335-f687-42a3-93e6-00e8813cac7a" >
	</div>

	<a>
		<h1>Experiencia</h1>
		<p>
			TerPicWeb fue desarrollada con el objetivo de facilitar el trabajo de los profesores de educación especial, quienes pueden utilizar esta plataforma como herramienta para cada sesión de enseñanza de acuerdo a la metodología que utilicen. La experiencia es más estable y potente si se utiliza TerPicWeb en una PC o Laptop. 
		</p>
	</a>

	
</article>


<article class="AboutIpad">
	<a>
		<h1>SIENA</h1>
		<p>
			TerPicWeb es una mejora de SIENA, un proyecto anteriormente desarrollado como un sistema plataforma-consola interactivo. Mira su funcionamiento en el video. 
		</p>
	</a>

	<div>
		<iframe [src]="getIframe(video)" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

</article>


<article class="AboutComputer">

	<div>
		<img id="Ramiro" src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/About%2FRFoto.JPG?alt=media&token=419525d8-a98b-4c9f-9881-b0903a85b3ee" >
	</div>

	<a>
		<h1 id="DescAutor">Autor</h1>
		<p id="DescAutor">
			El autor de TerPicWeb es Ramiro Galindo <br>
			Magister en Computación, Sistemas Inteligentes <br>
			Ingeniero Mecatrónico <br>
			Manta, Manabí, Ecuador
		</p>
	</a>

	
</article>

