<div class="home">
	<p>Ter<img src="assets/img/panda.png"/> _ icWeb</p>
</div>

<div class="containerSlider">
	<div class="bxslider">

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Repertorio%20Principal%2Fcuentos.jpg?alt=media&token=4dd96379-7738-42d9-9396-9a8fae68dc6c"></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/bxSlider%2FCapturaNavidad.JPG?alt=media&token=ed71e9ce-9750-49b3-abba-9fee3c5189a5" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Repertorio%20Principal%2FCanciones.jpg?alt=media&token=dedca904-99d1-4fad-ad44-414b3c308229" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/bxSlider%2FCapturaRey.JPG?alt=media&token=9ce7fa41-e14a-4c96-a86b-2226b1d8aa2f" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Repertorio%20Principal%2FAprende.jpg?alt=media&token=654c31f9-0dbc-4021-9dad-4a4c9db5ba6a" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/bxSlider%2FCapturaManos.JPG?alt=media&token=4a85401e-f94b-494a-b448-84a4306f5a52" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Repertorio%20Principal%2FRepite%20conmigo.jpg?alt=media&token=3c8324b3-9fea-451b-80f7-dffcac8664e7" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/bxSlider%2FCapturaColores.JPG?alt=media&token=daf60abd-2cdc-44c8-a48e-969a2ff3ead0" ></div>
	
	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Repertorio%20Principal%2FSonidos.jpg?alt=media&token=29965ebf-bba7-47a2-9569-f0a4a209ad5d" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/bxSlider%2FCapturaAnimalesSalvajes.JPG?alt=media&token=7ba5f380-732c-472b-b348-2d129add20d6" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Repertorio%20Principal%2FJuegos.jpg?alt=media&token=6ade9e52-efcf-446e-9029-fb5913038c17" ></div>

	  <div><img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/bxSlider%2FCapturaAsteroidx.JPG?alt=media&token=f8e516e2-456b-4243-bf16-e5da778d0c09" ></div>
	

	</div>
</div>

	<div id="Title1">
		<h1>Conoce cómo funciona TerPicWeb</h1>
	</div>

<article class="description">
	
	<div>
		<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Home%2FCapturaPrincipal.JPG?alt=media&token=915eaaca-381e-4e01-a30d-bd07cc6105bb" >
	</div>

	<a>
		<h1>Repertorio principal</h1>
		<p>
			En la página principal encontramos un repertorio de 6 estaciones que deben elegirse de acuerdo a la actividad que se desea realizar. Su contenido fue pensado y distribuido de tal manera que sea didáctico, interactivo y entretenido para niños.
		</p>
	</a>
</article>

<article class="description">
	<a>
		<h1>Repertorio cuentos</h1>
		<p>
			En el repertorio de cuentos tenemos una colección de 6 videos que narran historias infantiles ilustradas con pictogramas. La idea de esta estación es que los niños sigan la secuencia de las narraciones, entiendan el cuento y sean capaces de reconocer la moraleja de cada historia.
		</p>
	</a>

		<div>
			<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Home%2FCapturaCuentos.JPG?alt=media&token=5a9f8c41-45f8-4797-a96c-7fc02f7513f3" >
		</div>

</article>



<article class="description">
	
	<div>
		<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Home%2FCapturaCanciones.JPG?alt=media&token=3d7f40e6-851a-484c-9c14-a2a7e18b50b5" >
	</div>

	<a>
		<h1>Repertorio canciones</h1>
		<p>
			En el repertorio de canciones tenemos una colección de 6 videos musicales. La idea de esta estación es que los niños coreen las canciones y se diviertan observando las ilustraciones gráficas. También se espera tras varias visualizaciones los niños aprendan la letra de las canciones.
		</p>
	</a>
</article>

<article class="description">
	<a>
		<h1>Repertorio aprende</h1>
		<p>
			En el repertorio "Aprende" tenemos una colección de 6 videos que narran actividades cotidianas ilustradas con pictogramas. La idea de esta estación es que los niños relacionen cada actividad su pictograma y, de esta manera, apredan nuevas palabras y conceptos.
		</p>
	</a>

		<div>
		<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Home%2FCapturaAprende.JPG?alt=media&token=7ab26222-622f-4c9b-bb18-ece6804e5a0e" >
	</div>

</article>



<article class="description">
	
	<div>
		<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Home%2FCapturaRepite.JPG?alt=media&token=4e0b7018-28b7-447b-b684-f81eaaf350cd" >
	</div>

	<a>
		<h1>Repertorio repite</h1>
		<p>
			En el repertorio "Repite conmigo" encontramos un repertorio de 9 colecciones. Cada colección cuenta con 9 palabras ilustradas mediante pictogramas. Al dar click sobre cada pictograma se inicia una locución, que el niño debe repetir.
		</p>
	</a>
</article>
 

 <article class="description">
	<a>
		<h1>Repertorio sonidos</h1>
		<p>
			En el repertorio de sonidos encontramos un repertorio de 7 colecciones. Cada colección cuenta con 9 palabras ilustradas mediante pictogramas. Al dar click sobre cada pictograma se inicia una representación sonora, que el niño debe escuchar y reconocer.
		</p>
	</a>

		<div>
			<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Home%2FCapturaSonidos.JPG?alt=media&token=557cbe94-430b-4ca7-99b5-9532c6e514f4" >
		</div>

</article>

<article class="description">
	
	<div>
		<img src="https://firebasestorage.googleapis.com/v0/b/celda-51.appspot.com/o/Home%2FCapturaJuegos.JPG?alt=media&token=4feb9514-29b2-4088-84d0-facab06770b9" >
	</div>

	<a>
		<h1>Repertorio juegos</h1>
		<p>
			En este repertorio encontramos juegos modernos en línea. El objetivo de esta colección es que el niño se divierta al mismo tiempo que desarrolla su capacidad de reacción, sesolución de problemas y motricidad.
		</p>
	</a>
</article>


